.places__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.62;
    color: #FFFFFF;
    margin: 0;
    height: fit-content;
    max-width: 484px;
}

@media (max-width: 820px) {
    .places__paragraph {
        font-size: 16px;
        min-width: 352px;
    }
}

@media (max-width: 500px) {
    .places__paragraph {
        margin-left: 16px;
        margin-right: 16px;
        min-width: 200px;
    }
}