.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
    padding: 0 0 12px;
    list-style-type:none;
    margin: 0;
}

@media (max-width: 1025px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 824px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width: 500px) {
    .photo-grid {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}