.places__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-underline-position: under;
    transition: all 0.3s ease-in-out;
    align-self: baseline;
}

.places__link:hover {
    opacity: 0.8;
}