.cover {
    width: 100%;
    background: url(../../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 92px;
    display: grid;
    overflow: hidden;
}

@media (max-width: 1025px) {
    .cover {
        width: 100vw;
    }
}

@media (max-width: 500px) {
    .cover {
        margin-top: 66px;
    }
}