.places__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 48px;
}

@media (max-width: 767px) {
    .places__website {
        margin-bottom: 32px;
        grid-area: website;
    }
}

@media (max-width: 500px) {
    .places__website {
        margin-left: 16px;
    }
}