.header__lang-links {
    margin: 18px 0 0;
    padding: 0;
    display: grid;
    gap: 18px;
    grid-template-columns: auto auto;
    list-style-type: none;
}

@media (max-width: 500px) {
    .header__lang-links {
        margin-top: 14px;
    }
}
